.row__table__data{
    border: 2px solid;
    width: 30%;
    text-align: center;

}
.row__table {
    display: flex;
    justify-content: space-around;

}
.row__table__data:nth-of-type(3){
    background: rgb(113, 65, 2);
}