.topbg{
    background-image: url("../img/bg.png");
    background-size:  100% 100%;
    height: 1080px;
    display: flex;
    align-items: center;
    flex-direction: row;
    

    &-textbox{
        max-width: 580px;
        margin: 0 auto;
        text-align: center;
        
    
        h2{
            font-family: 'Archivo Black', sans-serif;
            font-size: 81px;
            margin-bottom: 40px;
            color: #fff;
            letter-spacing: -0.05em;
            line-height: 1.3;
        }
        p{
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 30px;
            color: #fff;
        }
    }
}